
.row-bord-dec-rk {
    border: 2px dashed #ddd;
    border-radius: 12px;
    background: #fafafa;
    transition: all 0.3s ease;
}

.row-bord-dec-rk:hover {
    border-color: #E63946;
    background: #fff5f5;

}





.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}










.btn-txt-itm-rk {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.5rem;
    border: 1px solid #f0f0f0;
    border-radius: 2rem;
}
.btn-txt-itm-rk:hover {
    background: #E63946;
    color: white;
     border: 1px solid #E63946;
}



.border.border-dashed.border-gray-300.p-6.rounded-lg.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 2rem;
    border: 2px dashed #ddd;
    border-radius: 12px;
    background: #fafafa;
    transition: all 0.3s ease;}

button.p-3.rounded.border.text-center.transition.border-gray-200 {
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    padding: 0.4rem;
    gap: 0.8rem;
}


.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    padding: 0.4rem;
    gap: 0.8rem;
}